@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/* header start */
a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
/* a:hover {
    color: #8e9e01;
} */

body{
    margin:0;
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.header{
    background-color: #16132C;
    width: 100%;
    position: fixed;
    height: 120px;
    top: 0;
    display: block;
    z-index: 1;
}

a{
    color: white;
    font-size: 14px;
    margin-left: 5px;
    margin-right:5px;
}

.inner-container{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    display: flex;
}

.logo{
    width: 200px;
    margin-left: 40px;
    position: relative;
}

.boundFore{
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.01em;
    text-decoration: underline;
}

.logo-word{
    display: block;
    font-size: 15px;
    left: 0;
    margin: 0;
}

.navigation{
    width: 100%;
    right: 0;
    text-align: right;
    display: block;
    margin: 0;
}

ul{
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
}

img{
    display: inline-block;
    width: 18px;
}

.logo-container{
    background-color: #86940e;
    margin: 0%;
    padding: 0%;
    height: 560px;
}

.logo-container h2{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 280px;
    margin: 0%
}

.logo-container h3{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin: 0%
}

.header-container{
    text-align: center;
    overflow: hidden;
}

.header-container img{
    width: 100%;
    overflow: hidden;
    height: 600px;
    object-fit: cover;
}

#title{
    overflow: hidden;
    position: absolute;
    color: white;
    top: 280px;
    width: 100%;
    padding-top: 50px; 
}

#title h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}

.body-container{
    /* margin-top: 50px; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    justify-content: space-evenly;
    /* overflow: hidden; */
}

.article{
    display: inline-block;
    width: 400px;
    /* height: 300px; */
    border: 2px solid #16132C;
    margin-top: 50px;
    /* position: relative; */
}

.article a{
    margin: 0;
}

.image-container{
    overflow: hidden;
}

.article:hover{
    box-shadow: 5px 8px #16132C;
}

.article:hover img{
    transform: scale(1.2);
}

.article img{
    width: 100%;
    height: 300;
    /* height: 300px; */
    object-fit: cover;
    transition: transform .2s;
}

.text-container{
    
}

.article h3{
    /* position: absolute; */
    color:#16132C;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 20px;
    margin-bottom: 0;
}

.article h4{
    color:#16132C;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
}

footer{
    color: black;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}

