@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/* header start */
a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
/* a:hover {
    color: #8e9e01;
} */
body{
    margin:0;
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.header{
    background-color: #16132C;
    width: 100%;
    position: fixed;
    height: 120px;
    top: 0;
    z-index: 1;
}

a{
    color: white;
    font-size: 14px;
    margin-left: 5px;
    margin-right:5px;
}

.inner-container{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    display: flex;
}

.logo{
    width: 200px;
    margin-left: 40px;
    position: relative;
}

.boundFore{
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.01em;
    text-decoration: underline;
}

.logo-word{
    display: block;
    font-size: 15px;
    left: 0;
    margin: 0;
}

.navigation{
    width: 100%;
    right: 0;
    text-align: right;
    display: block;
    margin: 0;
}

ul{
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
}

img{
    display: inline-block;
    width: 18px;
}

/* .logo-container{
    background-color: #e5ff00;
    margin: 0%;
    padding: 0%;
    height: 560px;
}

.logo-container h1{
    color:#16132C;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    padding-top: 280px;
    margin: 0%
} */

.header-container{
    text-align: center;
    overflow: hidden;
    margin-top: 120px;
    padding-bottom: 0;
    height: 700px;
}

.header-container img{
    width: 100%;
    overflow: hidden;
    height: 700px;
    object-fit: cover;
}

#title{
    overflow: hidden;
    position: absolute;
    color: white;
    height: 260px;
    top: 210px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 62px;
    text-align: center;
    margin: 0%
}

#title h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}

#title h3{
    font-weight: normal;
    font-size: 18px;
    margin-top: 0;
}

.about_us{
    height: 300px;
    background-color: #07224F;
    color: white;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
}

h2{
    font-size: 40px;
}

.about_us p{
    font-size: 16px;
    font-weight: 700;
}

.introduction{
    height: 200px;
    background-color: white;
    margin:0%;
    padding-top: 60px;
    color: #07224F;
    display: block;
    text-align: center;
}

.continent-container{
    text-align: center;
    overflow: hidden;
    height: 700px;
}

.continent-container img{
    width: 100%;
    overflow: hidden;
    height: 700px;
    object-fit: cover;
}

#text-bolck-asia{
    overflow: hidden;
    position: absolute;
    background-color: #F7F7F766;
    color: #07224F;
    height: 260px;
    top: 1870px;
    width: 100%;
    padding-top: 50px;
}

#text-bolck-europe{
    overflow: hidden;
    position: absolute;
    background-color: #F7F7F766;
    color: #07224F;
    height: 260px;
    top: 2570px;
    width: 100%;
    padding-top: 50px;
}

#text-bolck-north-america{
    overflow: hidden;
    position: absolute;
    background-color: #F7F7F766;
    color: #07224F;
    height: 260px;
    top: 3270px;
    width: 100%;
    padding-top: 50px;
}

h3{
    font-size: 22px;
}

button{
    margin-top: 80px;
    padding: 12px 15px;
    text-decoration: none;
    text-align: center;
    background-color: #F7F7F766;
    color:#07224F;
    border: 2px solid #07224F;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button:hover{
    background-color: #07224F;
    color: white;
}

footer{
    color: white;
    /* width: 500px; */
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
    height: 200px;
    background-color: #07224F;
    position: relative;
}

footer #copy-right{
   padding-top: 180px;
}

.body-container form{
  margin-top:150px;
}
